# ignore tmp and old stuff
tmp/
old/
/test_data/

/scripts/old

# ignore irrelevant things
/pippo*
/.ipynb_checkpoints/
/.idea

# ignore heavy test data
/test_data/test_bbox/
/scripts/581681_punta_HR_stitch_merge_test.sh
*.ipynb
/__pycache__/
*.cpython-311.pyc
.gitignore
